@{
    ViewBag.Title = "Admin Modules";
}

<p>
    <br />
    @using (@Html.BeginForm())
    {
        <div>
            <fieldset>
                <legend>@ViewBag.Title</legend>
                <ul>
                    
                    <li><a href="@Url.Action("Index", "AssLoc")">Assembly Location</a></li>
                    <li><a href="@Url.Action("Index", "Location")">Location</a></li>
                    <li><a href="@Url.Action("Index", "BuildReason")">Build Reason</a></li>
                    <li><a href="@Url.Action("Index", "DieBank")">Die Bank</a></li>
                    <li><a href="@Url.Action("Index", "EmailAddress")">Email Address</a></li>
                    <li><a href="@Url.Action("Index", "FabCode")">Fab Code</a></li>
                    <li><a href="@Url.Action("Index", "MakIns")">Marking instruction</a></li>
                    <li><a href="@Url.Action("Index", "MakSL")">Marking SL</a></li>
                    <li><a href="@Url.Action("Index", "Owner")">Owner</a></li>

                    <li><a href="@Url.Action("Index", "Package")">Package</a></li>
                    <li><a href="@Url.Action("Index", "PackageType")">Package Types</a></li>
                    <li><a href="@Url.Action("Index", "PackageTest")">Package Test</a></li>
                    <li><a href="@Url.Action("Index","PriorityBuild")">Priority Build</a></li>
                    <li><a href="@Url.Action("Index","ProbeStatus")">Probe Status</li>
                    <li><a href="@Url.Action("Index","ProcessLTS")">Process</a></li>
                    <li><a href="@Url.Action("Index", "PKProcessType")">PKProcess Type</a></li>
                    <li><a href="@Url.Action("Index","QualityLevel")">Quality Level</a></li>
                    <li><a href="@Url.Action("Index","RequesterLocation")">Requester Location</a></li>
                    <li><a href="@Url.Action("Index","RevenueLocation")">Revenue Location</a></li>
                    <li><a href="@Url.Action("Index","VendorCode")">Vendor Code</a></li>
                    <li><a href="@Url.Action("Index","VendorContact")">Vendor Contact</a></li>
                    <li><a href="@Url.Action("Index", "WaferSize")">Wafer Size</a></li>
                    <li><a href="@Url.Action("Index","WireMaterial")">Wire Material</a></li>
                    <br />
                    <li><a href="@Url.Action("Index", "Roles")">Roles</a></li>
                    <li><a href="@Url.Action("Index", "User")">Users</a></li>
                </ul>
            </fieldset>
        </div>
    }
</p>
