@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        @if (User.IsInRole("User"))
        {
            <li><a href="@Url.Action("NewRequest", "Dashboard")">New EBR Request</a></li>
        }
    </ul>
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Index", "Account")">@Html.Encode(User.Identity.Name)</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a href="@Url.Action("Index", "Admin")"><span class="glyphicon glyphicon-lock"></span>Admin</a></li>
            }
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("LogIn", "Account")">Login</a></li>
        <li><a href="@Url.Action("Registration", "Account")">Register</a></li>
        <li><a href="@Url.Action("RecoverPassword", "Account")">Recover Password</a></li>
    </ul>
}