@model ListSubViewModel

<div class="modal fade in" id="modalInsertSub">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h3>Add Lot</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4">Stack Die ID</label>
                        <div class="col-md-8">
                            @Html.EBRTextBoxFor(x => Model.StackDieId, htmlAttributes: new { @class = "form-control", @id = "txtAddStackDieId", @type = "text" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Stack Die PMPN</label>
                        <div class="col-md-8">
                            @Html.EBRTextBoxFor(x => Model.StackDiePMPN, htmlAttributes: new { @class = "form-control", @id = "txtAddStackDiePMPN", @type = "text" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Stack Die Qty</label>
                        <div class="col-md-8">
                            <input type="number" name="StackDieQty" class="form-control" id="txtAddStackDieQty" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Stack Die Wafer Numbers</label>
                        <div class="col-md-8">
                            @Html.EBRTextBoxFor(x => Model.StackDieWaferNumbers, htmlAttributes: new { @class = "form-control", @id = "txtAddStackDieWaferNumbers", @type = "text" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">MES Lot Number</label>
                        <div class="col-md-8">
                            @*<input type="text" class="form-control" id="txtAddLotNumber" name="LotNumber" />*@
                            @Html.EBRTextBoxFor(x => Model.LotNumber, htmlAttributes: new { @class = "form-control", @id = "txtAddLotNumber", @type = "text" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">SAP Batch Lot Number</label>
                        <div class="col-md-8">
                            @*<input type="text" class="form-control" id="txtAddBatchLotNumber" name="BatchLotNumber" />*@
                            @Html.EBRTextBoxFor(x => Model.BatchLotNumber, htmlAttributes: new { @type = "text", @class = "form-control", @id = "txtAddBatchLotNumber" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Wafer Qty</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="txtAddWaferQty" name="WaferQty" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Build Quality</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="txtAddBuildQuality" name="BuildQuality" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Comment/Wafer's</label>
                        <div class="col-md-8">
                            @*<input type="text" class="form-control" id="txtAddComment" name="Comment" />*@
                            @Html.EBRTextBoxFor(x => Model.Comment, htmlAttributes: new { @type = "text", @class = "form-control", @id = "txtAddComment" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-offset-4 col-md-8">
                            <input class="btn btn-primary btn-width-md" type="submit" id="btnSaveSub" value="Add" />
                            <button class="btn btn-default btn-width-md type=" button" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modalEditSub">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h3>Edit Lot</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4">MES Lot Number</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtEditLotNumber" name="LotNumber" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">SAP Batch Lot Number</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtEditBatchLotNumber" name="BatchLotNumber" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Wafer Qty</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="txtEditWaferQty" name="WaferQty" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Build Quality</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="txtEditBuildQuality" name="BuildQuality" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Comment/Wafer's</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtEditComment" name="Comment" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-offset-4 col-md-8">
                            <input class="btn btn-primary btn-width-md" type="button" id="btnEditSaveSub" value="Edit" />
                            <button class="btn btn-default btn-width-md" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal popup Save Successfully *@
<div class="modal fade in" id="modalSaveSuccess">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Save information</h3>
            </div>
            <div class="modal-body">
                <span class="text-success">The EBR Request was successfully saved!</span>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("OK", "Edit", null, htmlAttributes: new { @class = "btn btn-success btn-width-md", @id = "btnSuccessOK" })
            </div>
        </div>
    </div>
</div>

@* Modal popup Save Failure *@
<div class="modal fade in" id="modalSaveFailure">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Save information</h3>
            </div>
            <div class="modal-body">
                <span class="text-danger">The EBR Request was failure saved!</span>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnSV02" class="btn btn-success btn-width-md" data-dismiss="modal" aria-hidden="true">OK</a>
            </div>
        </div>
    </div>
</div>
