@using PagedList;
@using PagedList.Mvc;

@model IPagedList<EBROnline.Model.DTO.EBRMasterDto>
@{
    AjaxOptions ajaxPaging = new AjaxOptions()
    {
        UpdateTargetId = "tableOfUser",
        HttpMethod = "GET",
    };
}

<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/app/table-head.css" rel="stylesheet" />

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Device</th>
            <th class="text-center">Originator</th>
            <th class="text-center">Last Changed By</th>
            <th class="text-center">Last Changed Date</th>
            <th class="text-center">State</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    @if (Model != null && Model.Any())
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Id</td>
                    <td>@item.Device</td>
                    <td>@item.RequestedBy</td>
                    <td>@item.LastUpdatedBy</td>
                    <td>@Html.DisplayFor(x => item.LastUpdated, "DisplayDateTime")</td>
                    <td class="text-center">
                        @switch (item.StatusType)
                        {
                            case EBROnline.Model.Types.StatusType.DRAFT:
                                @("DRAFT")
                                break;
                            case EBROnline.Model.Types.StatusType.SUBMITTED:
                            @("SUBMITTED")
                                break;
                            case EBROnline.Model.Types.StatusType.ACCEPTED:
                            @("ACCEPTED")
                                break;
                            case EBROnline.Model.Types.StatusType.CANCELLED:
                            @("CANCELLED")
                                break;
                            case EBROnline.Model.Types.StatusType.COMPLETED:
                            @("COMPLETED")
                                break;
                            case EBROnline.Model.Types.StatusType.REJECTED:
                            @("REJECTED")
                                break;
                        }
                        @*@if (item.StatusType == EBROnline.Model.Types.StatusType.DRAFT)
                            {
                                @("DRAFT")
                            }
                            else
                            {
                                @("SUBMITTED")
                            }*@
                    </td>
                    <td class="text-nowrap link-action">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @target = "_blank" }) |
                        @Html.ActionLink("ExportPDF", "ExportPDF", new { id = item.Id }, htmlAttributes: new { @target = "_blank" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <div class="pull-right">
                        @Html.PagedListPager(Model, page => Url.Action("EBROfUser", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ajaxPaging))
                    </div>
                </td>
            </tr>
        </tfoot>
    }
    else
    {
        <tr>
            <td colspan="7">No rows found.</td>
        </tr>
    }
</table>
