@model  IEnumerable<EBROnline.ViewModel.ListSubViewModel>

<br />
<div style="border:2px dotted #c99"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
            <input class="btn btn-link btn-min" type="button" id="btnAddSub" value="Add" />
        </div>
    </div>

    <div class="col-xs-12" style="background-color:#FAF9F8">
        <div class="table-responsive">
            <table class="table table-bordered" id="example">
                <thead>
                    <tr>
                        <th class="text-center">Stack Die Lot ID</th>
                        <th class="text-center">Stack Die PMPN</th>
                        <th class="text-center">Stack Die Qty</th>
                        <th class="text-center">Stack Die Wafer Numbers</th>
                        <th class="text-center">MES Lot Number </th>
                        <th class="text-center">SAP Batch Lot Number</th>
                        <th class="text-center">Wafer Qty</th>
                        <th class="text-center">Build Quantity</th>
                        <th class="text-center">Comment/Wafer</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="bg-blue">
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.StackDieId</td>
                                <td>@item.StackDiePMPN</td>
                                <td>@item.StackDieQty</td>
                                <td>@item.StackDieWaferNumbers</td>
                                <td>@item.LotNumber</td>
                                <td>@item.BatchLotNumber</td>
                                <td>@item.WaferQty</td>
                                <td>@item.BuildQuality</td>
                                <td>@item.Comment</td>
                                <td class="text-nowrap" style="width:127px;">
                                    <input type="button" value="Edit" class="btn btn-link btn-min" data-val="@item.Id" />|
                                    <input type="button" value="Delete" class="btn btn-link btn-min" data-val="@item.Id" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<div style="border:2px dotted #c99"></div>

<br />